rasp.xls
timetable.json
viewer/timetable.json
viewer/changes.json
.idea/*
.env
schedule/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*.pyc
logs/*
/venv/
